# Gradle
.gradle/
build/
*/build/

# Android Studio
.idea/
*.iml

# Local config
local.properties

# Kotlin/Java
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# APK / output
*.apk
*.aab

# Generated
captures/
.externalNativeBuild/
.cxx/